.text {
  border: none;
  padding: 12px;
  border-radius: 4px;
  box-shadow: none;
  font-weight: 500;
  font-size: 18px;
}

.form div input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}
